* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: grid;
  grid-template:
    "header" 70px
    "section-1" auto
    "featured-games" auto
    "live-channels" auto
    "footer" auto /
    1fr;
  position: relative;
}
header {
  grid-area: header;
  width: 100%;
  background-color: #171717;
  position: sticky;
  top: 0;
}
header h1 {
  font-family: "Courier New", Courier, monospace;
  background: -webkit-linear-gradient(left, yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}
.h1-list {
  text-decoration: none;
  transition: all 0.1s ease-in;
}
.h1-list:hover {
  transform: scale(0.9);
}
.header-lists {
  text-decoration: none;
  display: grid;
  align-items: center;
}
.header-lists:hover {
  animation: flip 1s linear;
}
@keyframes flip {
  0% {
    transform: scale(5);
  }
  25% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(2);
  }
  75% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
header ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  padding: 10px 30px;
}
header ul li {
  background: -webkit-linear-gradient(left, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
}
.header-search-bar {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40px auto;
}
.header-search-bar button {
  background-color: white;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.header-search-bar input {
  padding: 10px;
  width: 100%;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-color: black;
  outline: none;
}
.header-login-button {
  text-align: end;
}
.header-login-button button {
  width: 150px;
  height: 100%;
  border-radius: 30px;
  font-size: 17px;
  font-family: Verdana;
  transition: all 0.5s ease-in-out;
}
.header-login-button button:hover {
  background: -webkit-linear-gradient(left, rgb(3, 104, 129), red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0.9);
}

/* Section-1 */

.section-1 {
  grid-area: section-1;
  border-bottom: 1px solid rgb(172, 170, 170);
}
.section-1-headers {
  display: grid;
  justify-items: center;
  gap: 10px;
  padding-top: 30px;
  
}
.section-1-headers b {
  background: -webkit-linear-gradient(left, rgb(3, 104, 129), red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-1-headers h1 {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.section-1-headers h3 {
  font-size: 20px;
}
.section-1-main {
  display: grid;
  place-items: center;
}
#twitch-embed {
  padding: 10px;
}
.section-1-footers {
  padding-top: 30px;
  display: grid;
  gap: 10px;
  place-items: center;
  padding-bottom: 20px;
}
.section-1-footers .first-link {
  background-color: #a5a5a5;
  color: white;
  font-size: 2rem;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  border: 1px solid #a5a5a5;
  border-radius: 50px;
  padding: 30px 80px;
}
.first-link:hover {
  background: grey;
  box-shadow: 1px 1px grey;
}
.section-1-footers a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: 700;
}

/* featured-games section */

.featured-games {
  grid-area: featured-games;
}
.featured-games-main {
  display: grid;
  padding: 30px;
  gap: 20px;
}
.featured-games-main-top {
  display: grid;
  grid-template-columns: 14% 1fr;
  align-items: center;
}
.main-top-first-span {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-style: italic;
}
.main-top-second-span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.featured-games-main-bottom a {
  text-decoration: none;
  color: black;
}

.featured-games-main-bottom h6 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.featured-games-main-bottom ul {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 400px);
}
.featured-games-main-bottom li {
  list-style: none;
  display: grid;
  gap: 5px;
  place-items: center;
  transition: all 0.5s ease-in-out;
}
.featured-games-main-bottom li p{
  color: royalblue;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.featured-games-main-bottom li:hover {
  background-color: #e6e4e4;
  transform: scale(1.1);
}
.featured-games-main-bottom img {
  width: 200px;
}

.live-channels {
  grid-area: live-channels;
}

/* live-channels section */

.live-channels{
  grid-area: live-channels;
  padding: 30px;
  display: grid;
  gap: 20px;
  width: 100%;
}

.live-channels li{
  list-style: none;
  display: grid;
  gap: 20px;
  place-items: center;
  transition: all 0.5s ease-in-out;
}
.live-channels li:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 20px yellow;
}
.live-channels ul img{
  width: 100%;
}
.center-videos{
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, 420px);
}
.live-channels a {
  text-decoration: none;
  color: black;
}


/* Footer section */

footer {
  grid-area: footer;
  background-color: #9b9b9b;
  color: white;

  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  padding: 50px;
}

.all-columns h5 {
  font-size: 22px;
}
.center-columns {
  display: grid;
  grid-auto-flow: column;
  gap: 100px;
}
.all-columns li {
  list-style: none;
}
.lists {
  padding-top: 30px;
  display: grid;
  gap: 15px;
}
.fourth-column {
  display: grid;
  transform: translateY(50px);
}
@media (max-width: 800px){
  .header-lists{
    display: none;
  }
}