* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template: 
    'header' 70px
    'section-1' auto
    'featured-games' auto
    'live-channels' auto
    'footer' auto /
    1fr ;
}
header{
    grid-area: header;
    width: 100%;
    background-color: #171717;
}
header h1{
    font-family: 'Courier New', Courier, monospace;
    background: -webkit-linear-gradient(left, rgb(3, 104, 129), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 2.5rem;
}
header ul{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    padding: 10px 30px;
}
header ul li{
    display: grid;
    align-items: center;
    background: -webkit-linear-gradient(left, rgb(3, 104, 129), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 1.3rem;
}
.header-search-bar{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40px auto;
}
.header-search-bar button{
    background-color: white;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.header-search-bar input{
    padding: 10px;
    width: 100%;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: black;
    outline: none;
}
.header-login-button{
    text-align: end;
}
.header-login-button button{
    width: 150px;
    height: 100%;
    border-radius: 30px;
    font-size: 17px;
    font-family: Verdana;
}
.header-login-button button:hover{
    background: -webkit-linear-gradient(left, rgb(3, 104, 129), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
}

/* Section-1 */

.section-1{
    grid-area: section-1;
}
.section-1-headers{
    display: grid;
    justify-items: center;
    gap: 10px;
    padding-top: 30px;
}
.section-1-headers b{
    background: -webkit-linear-gradient(left, rgb(3, 104, 129), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.section-1-headers h1{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-1-headers h3{
    font-size: 20px;
}
.sections-1-footers{
    display: grid;
    place-items: center;
    gap: 10px;
    padding-top: 30px;
}


/* Footer section */

footer{
    grid-area: footer;
    background-color: #9b9b9b;
    color: white;

    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center
}

.all-columns h5{
    font-size: 22px;

}
.center-columns{
    display: grid;
    grid-auto-flow: column;
    gap: 100px;
}
.all-columns li{
    list-style: none;
}
.lists{
    padding-top: 30px;
    display: grid;
    gap: 15px;
}
.fourth-column{
    display: grid;
    transform: translateY(50px);
}